<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="Helpers.ttinclude" #>
#nullable enable
using Arch.Core;
using LayerBase.ECS;

namespace LayerBase.ECS.Projection.Flow;

public readonly struct ProjectionQueryFlow0
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate? _predicate;

    internal ProjectionQueryFlow0(World world, Query query, ProjectionPredicate? predicate = null)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
    }

    public ProjectionQueryFlow0 Where(ProjectionPredicate predicate)
    {
        return new ProjectionQueryFlow0(_world, _query, predicate);
    }

<# for (var e = 1; e <= EventAmount; e++) { #>
<# var evtG = EG(e); #>
<# var allG = evtG; #>
<# var cons = FEC(e); #>
<# var suffix = e == 1 ? "" : $"_{e}e"; #>
<# var dName = EventName(e); #>
    public ProjectionBringFlow0<#= suffix #><<#= allG #>> Bring<<#= evtG #>>()
<#= cons #>
    {
        return new ProjectionBringFlow0<#= suffix #><<#= allG #>>(_world, _query, _predicate);
    }

<# } #>
    public void TouchProjectedActor()
    {
        ProjectionExecutor0.Touch(_world, _query, _predicate);
    }
}

<# for (var e = 1; e <= EventAmount; e++) { #>
<# var evtG = EG(e); #>
<# var allG = evtG; #>
<# var cons = FEC(e); #>
<# var suffix = e == 1 ? "" : $"_{e}e"; #>
<# var dName = EventName(e); #>
public readonly struct ProjectionBringFlow0<#= suffix #><<#= allG #>>
<#= cons #>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate? _predicate;

    internal ProjectionBringFlow0<#= suffix #>(World world, Query query, ProjectionPredicate? predicate)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
    }

    public ProjectionPostFlow0<#= suffix #><<#= allG #>> ForEach(<#= dName #><<#= allG #>> forEach)
    {
        return new ProjectionPostFlow0<#= suffix #><<#= allG #>>(_world, _query, _predicate, forEach);
    }
}

public readonly struct ProjectionPostFlow0<#= suffix #><<#= allG #>>
<#= cons #>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate? _predicate;
    private readonly <#= dName #><<#= allG #>> _forEach;

    internal ProjectionPostFlow0<#= suffix #>(World world, Query query, ProjectionPredicate? predicate, <#= dName #><<#= allG #>> forEach)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
        _forEach = forEach;
    }

    public ProjectionPostFlow0<#= suffix #><<#= allG #>> Batch() => this;

    public void Post()
    {
<# if (e == 1) { #>
        ProjectionExecutor0.Post(_world, _query, _predicate, _forEach);
<# } else { #>
        ProjectionExecutor0_<#= e #>E<<#= evtG #>>.Post(_world, _query, _predicate, _forEach);
<# } #>
    }
}

<# } #>
<# for (var c = 1; c <= ComponentAmount; c++) { #>
<# var compG = CG(c); #>
<# var compGP = $"<{compG}>"; #>
public readonly struct ProjectionQueryFlow<#= c #><<#= compG #>>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate<#= compGP #>? _predicate;

    internal ProjectionQueryFlow<#= c #>(World world, Query query, ProjectionPredicate<#= compGP #>? predicate = null)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
    }

    public ProjectionQueryFlow<#= c #><<#= compG #>> Where(ProjectionPredicate<#= compGP #> predicate)
    {
        return new ProjectionQueryFlow<#= c #><<#= compG #>>(_world, _query, predicate);
    }

<# for (var e = 1; e <= EventAmount; e++) { #>
<# var evtG = EG(e); #>
<# var allG = AG(c, e); #>
<# var cons = FEC(e); #>
<# var suffix = e == 1 ? "" : $"_{e}e"; #>
<# var dName = EventName(e); #>
    public ProjectionBringFlow<#= c #><#= suffix #><<#= allG #>> Bring<<#= evtG #>>()
<#= cons #>
    {
        return new ProjectionBringFlow<#= c #><#= suffix #><<#= allG #>>(_world, _query, _predicate);
    }

<# } #>
    public void TouchProjectedActor()
    {
        ProjectionExecutor<#= c #><<#= compG #>>.Touch(_world, _query, _predicate);
    }

    public void ForEach<TJob>(
        ref TJob job)
        where TJob : struct, IQueryJob<<#= compG #>>
    {
        ProjectionExecutor<#= c #><<#= compG #>>.ForEach(
            _world,
            _query,
            _predicate,
            ref job);
    }
}

<# for (var e = 1; e <= EventAmount; e++) { #>
<# var evtG = EG(e); #>
<# var allG = AG(c, e); #>
<# var cons = FEC(e); #>
<# var suffix = e == 1 ? "" : $"_{e}e"; #>
<# var dName = EventName(e); #>
public readonly struct ProjectionBringFlow<#= c #><#= suffix #><<#= allG #>>
<#= cons #>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate<#= compGP #>? _predicate;

    internal ProjectionBringFlow<#= c #><#= suffix #>(World world, Query query, ProjectionPredicate<#= compGP #>? predicate)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
    }

    public ProjectionPostFlow<#= c #><#= suffix #><<#= allG #>> ForEach(<#= dName #><<#= allG #>> forEach)
    {
        return new ProjectionPostFlow<#= c #><#= suffix #><<#= allG #>>(_world, _query, _predicate, forEach);
    }

    public ProjectionJobPostFlow<#= c #><#= suffix #><<#= allG #>, TJob> ForEach<TJob>(
        ref TJob job)
        where TJob : struct, IProjectionJob<#= c #>x<#= e #><<#= allG #>>
    {
        return new ProjectionJobPostFlow<#= c #><#= suffix #><<#= allG #>, TJob>(
            _world,
            _query,
            _predicate,
            job);
    }
}

public readonly struct ProjectionPostFlow<#= c #><#= suffix #><<#= allG #>>
<#= cons #>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate<#= compGP #>? _predicate;
    private readonly <#= dName #><<#= allG #>> _forEach;

    internal ProjectionPostFlow<#= c #><#= suffix #>(World world, Query query, ProjectionPredicate<#= compGP #>? predicate, <#= dName #><<#= allG #>> forEach)
    {
        _world = world;
        _query = query;
        _predicate = predicate;
        _forEach = forEach;
    }

    public ProjectionPostFlow<#= c #><#= suffix #><<#= allG #>> Batch() => this;

    public void Post()
    {
<# if (e == 1) { #>
        ProjectionExecutor<#= c #><<#= compG #>>.Post<TEvent0>(_world, _query, _predicate, _forEach);
<# } else { #>
        ProjectionExecutor<#= c #>_<#= e #>E<<#= allG #>>.Post(_world, _query, _predicate, _forEach);
<# } #>
    }
}

public readonly struct ProjectionJobPostFlow<#= c #><#= suffix #><<#= allG #>, TJob>
    where TJob : struct, IProjectionJob<#= c #>x<#= e #><<#= allG #>>
<#= cons #>
{
    private readonly World _world;
    private readonly Query _query;
    private readonly ProjectionPredicate<#= compGP #>? _predicate;
    private readonly TJob _job;

    internal ProjectionJobPostFlow<#= c #><#= suffix #>(
        World world,
        Query query,
        ProjectionPredicate<#= compGP #>? predicate,
        TJob job)
    {
        // world 参数作用：
        // 当前 ECS World。

        // query 参数作用：
        // 当前 Projection Query。

        // predicate 参数作用：
        // 可选过滤条件。

        // job 参数作用：
        // 源生成器生成的 Projection Job。
        // 它会调用用户写的 [Query] + [Bring] 方法。

        _world = world;
        _query = query;
        _predicate = predicate;
        _job = job;
    }

    public ProjectionJobPostFlow<#= c #><#= suffix #><<#= allG #>, TJob> Batch()
    {
        return this;
    }

    public void Post()
    {
        TJob job =
            _job;

<# if (e == 1) { #>
        ProjectionExecutor<#= c #><<#= compG #>>.Post<TEvent0, TJob>(
            _world,
            _query,
            _predicate,
            ref job);
<# } else { #>
        ProjectionExecutor<#= c #>_<#= e #>E<<#= allG #>>.Post<TJob>(
            _world,
            _query,
            _predicate,
            ref job);
<# } #>
    }
}

<# } #>
<# } #>
