<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="Helpers.ttinclude" #>
#nullable enable
using System.Diagnostics;
using System.Runtime.CompilerServices;
using Arch.Core;
using CommunityToolkit.HighPerformance;
using LayerBase.Actor;

namespace LayerBase.ECS.Projection.Flow;

<# for (var c = 1; c <= ComponentAmount; c++) { #>
<# var compG = CG(c); #>
<# var compGP = $"<{compG}>"; #>
<# for (var e = 2; e <= EventAmount; e++) { #>
<# var allG = AG(c, e); #>
<# var cons = FEC(e); #>
<# var dName = e == 1 ? "ProjectionForEach" : $"ProjectionForEach{e}"; #>
<# var es = $"{e}E"; #>
internal static partial class ProjectionExecutor<#= c #>_<#= es #><<#= allG #>>
<#= cons #>
{
    public static void Post(World world, Query query, ProjectionPredicate<#= compGP #>? predicate, <#= dName #><<#= allG #>> forEach)
    {
        ActorWorld actorWorld = world.Runtime.Actors;
        long nowTicks = Stopwatch.GetTimestamp();
<# for (var i = 0; i < e; i++) { #>
        ProjectionBatchBuffer<TEvent<#= i #>> batch<#= i #> = ProjectionBatchBuffer<TEvent<#= i #>>.Rent();
<# } #>

        try
        {
            foreach (ref Chunk chunk in query.GetChunkIterator())
            {
                CollectPostChunk(world, actorWorld, ref chunk, predicate, forEach, nowTicks<# for (var i = 0; i < e; i++) { #>,
                    ref batch<#= i #><# } #>);
            }

<# for (var i = 0; i < e; i++) { #>
            batch<#= i #>.PostTo(actorWorld);
<# } #>
        }
        finally
        {
<# for (var i = e - 1; i >= 0; i--) { #>
            batch<#= i #>.Dispose();
<# } #>
        }
    }

    private static void CollectPostChunk(World world, ActorWorld actorWorld, ref Chunk chunk,
        ProjectionPredicate<#= compGP #>? predicate, <#= dName #><<#= allG #>> forEach, long nowTicks<# for (var i = 0; i < e; i++) { #>,
        ref ProjectionBatchBuffer<TEvent<#= i #>> batch<#= i #><# } #>)
    {
<# for (var i = 0; i < c; i++) { #>
        ref T<#= i #> first<#= i #> = ref chunk.GetFirst<T<#= i #>>();
<# } #>
        ref ProjectedActorMeta firstMeta = ref chunk.FirstProjection();
        ref Entity firstEntity = ref chunk.Entities.DangerousGetReference();
        int count = chunk.Count;

        for (int row = 0; row < count; row++)
        {
<# for (var i = 0; i < c; i++) { #>
            ref T<#= i #> c<#= i #> = ref Unsafe.Add(ref first<#= i #>, row);
<# } #>
            Entity entity = Unsafe.Add(ref firstEntity, row);

            if (predicate != null && !predicate(in entity<# for (var i = 0; i < c; i++) { #>, in c<#= i #><# } #>))
                continue;

            ref ProjectedActorMeta meta = ref Unsafe.Add(ref firstMeta, row);

<# for (var i = 0; i < e; i++) { #>
            TEvent<#= i #> e<#= i #> = default;
<# } #>

            forEach(in entity<# for (var i = 0; i < c; i++) { #>, ref c<#= i #><# } #><# for (var i = 0; i < e; i++) { #>, ref e<#= i #><# } #>);

            ActorId actorId = meta.ActorId;
            if (!actorId.IsValid)
            {
                actorId = ProjectedActorBinding.EnsureProjectedActor(world, actorWorld, entity, ref meta, nowTicks);
                if (!actorId.IsValid) continue;
            }
            else
            {
                ProjectedActorBinding.TouchProjectedActor(actorWorld, ref meta, nowTicks);
                actorId = meta.ActorId;
                if (!actorId.IsValid) continue;
            }

<# for (var i = 0; i < e; i++) { #>
            batch<#= i #>.Add(actorId, in e<#= i #>);
<# } #>
        }
    }
}

<# } #>
<# } #>
