<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="Helpers.ttinclude" #>
#nullable enable
using Arch.Core;

namespace LayerBase.ECS.Projection.Flow;

<# for (var c = 0; c <= ComponentAmount; c++) { #>
<# var compG = CG(c); #>
<# if (c > 0) { #>
public delegate bool ProjectionPredicate<<#= compG #>>(
        <#= PredP(c) #>);
<# } #>
<# for (var e = 1; e <= EventAmount; e++) { #>
<# var evtName = e == 1 ? "ProjectionForEach" : $"ProjectionForEach{e}"; #>
public delegate void <#= evtName #><<#= AG(c, e) #>>(
        <#= FEP(c, e) #>)
    <#= FEC(e) #>;

<# } #>
<# } #>
