<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="Helpers.ttinclude" #>
#nullable enable
using Arch.Core;
using LayerBase.ECS.Projection;

namespace LayerBase.ECS.Projection.Flow;

internal static class ProjectedActorRefComponentRegistration
{
    internal static readonly int ComponentId = ProjectedActorRefRegistration.ComponentType.Id;
}

public static class ProjectionWorldExtensions
{
    public static ProjectionQueryFlow0 Query(
        this World world)
    {
        return new ProjectionQueryFlow0(
            world.Runtime,
            world.Runtime.EcsQueryRegistry.GetOrCreate());
    }

<#
    for (var c = 1; c <= ComponentAmount; c++)
    {
#>
<#
        var compG = CG(c);
#>
    public static ProjectionQueryFlow<#= c #><<#= compG #>> Query<<#= compG #>>(
        this World world)
    {
        return new ProjectionQueryFlow<#= c #><<#= compG #>>(
            world.Runtime,
            world.Runtime.EcsQueryRegistry.GetOrCreate<<#= compG #>>());
    }

<#
    }
#>
}
